/* Created by amazi on 20.02.2016. */

.topbar {
  width: 980px;
  height: 60px;
  margin: 30px auto 0;
  position: relative;
  clear: fix;
}

.logo {

}

.menu {
  float: right;
  & > li {
    display: inline-block;
    margin: 0 10px;
  }
}